<div class = "row" style="margin-top: 50px">
  <div class = "col-md-4 offset-md-4">
<h2 style="text-align:center"><i class="far fa-handshake"></i>  회원가입을 환영합니다! </h2><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="form-inputs">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">이메일</span>
      </div>
      <%= f.email_field :email, required: true, autofocus: true, class: "form-control"  %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">비밀번호</span>
      </div>
      <%= f.password_field :password, required: true, class: "form-control", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">비밀번호 확인</span>
      </div>
    <%= f.password_field :password_confirmation, class: "form-control", required: true %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">별명</span>
      </div>
      <%= f.text_field :nickname, required: true, autofocus: true, class: "form-control"  %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">이름</span>
      </div>
      <%= f.text_field :name, required: true, autofocus: true, class: "form-control"  %>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">주소</span>
      </div>
      <%= f.text_field :address, required: true, autofocus: true, class: "form-control"  %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "회원가입 완료" , class: "btn btn-dark"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
