<div class="d-flex justify-content-center mt-3">

  <figure class="figure mt-5">
    <img src="<%=@post.postimage%>">
    <h2><figcaption class="figure-caption text-center">
      <%= @post.title %><br /></h2>
      <p><%= @post.content%></p>
    </figcaption>
  </figure>

</div>

<p class = "text-right"><a href="/posts/<%=@post.id%>/edit">수정 </a><a href="/posts/<%=@post.id%>" data-method="delete" data-confirm="삭제할래?"> 삭제</a></p>

<hr />
<!-- <img src="<%=@post.postimage%>"> -->
<!-- Product Description -->
<div class="container g-py-50">
  <div class="row">
    <div class="col-lg-7">
      <!-- Carousel -->
      <div id="carouselCus1" class="js-carousel g-pt-10 g-mb-10"
           data-infinite="true"
           data-fade="true"
           data-arrows-classes="u-arrow-v1 g-brd-around g-brd-white g-absolute-centered--y g-width-45 g-height-45 g-font-size-14 g-color-white g-color-primary--hover rounded-circle"
           data-arrow-left-classes="fa fa-angle-left g-left-40"
           data-arrow-right-classes="fa fa-angle-right g-right-40"
           data-nav-for="#carouselCus2">
        <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after">
          <img class="img-fluid w-100" src="assets/img-temp/650x750/img1.jpg" alt="Image Description">
        </div>
        <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after">
          <img class="img-fluid w-100" src="assets/img-temp/650x750/img2.jpg" alt="Image Description">
        </div>
        <div class="js-slide g-bg-cover g-bg-black-opacity-0_1--after">
          <img class="img-fluid w-100" src="assets/img-temp/650x750/img3.jpg" alt="Image Description">
        </div>
      </div>

      <div id="carouselCus2" class="js-carousel text-center u-carousel-v3 g-mx-minus-5"
           data-center-mode="true"
           data-slides-show="3"
           data-is-thumbs="true"
           data-focus-on-select="true"
           data-nav-for="#carouselCus1">
        <div class="js-slide g-cursor-pointer g-px-5">
          <img class="img-fluid" src="assets/img-temp/250x170/img1.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-cursor-pointer g-px-5">
          <img class="img-fluid" src="assets/img-temp/250x170/img2.jpg" alt="Image Description">
        </div>

        <div class="js-slide g-cursor-pointer g-px-5">
          <img class="img-fluid" src="assets/img-temp/250x170/img3.jpg" alt="Image Description">
        </div>
      </div>
      <!-- End Carousel -->
    </div>

    <div class="col-lg-5">
      <div class="g-px-40--lg g-pt-70">
        <!-- Product Info -->
        <div class="g-mb-30">
          <% @post.boardtype.length > 5 ? posttype = "경매" : posttype = "대여" %>
          <p>[<%= posttype%>]  [<%= @post.category%>]</p>
          <h1 class="g-font-weight-300 mb-4"><%= @post.title %></h1>
          <p><%= current_user.nickname%>님께서 제안한 상품입니다.</p>
          <p><%= @post.content%></p>
        </div>
        <!-- End Product Info -->

<!-- like버튼 추가 -->
<% if @like.count > 0%>
<button type="button" class="btn btn-danger" id="like"><i style="font-size:1em;" class="fas fa-moon"></i> (<span id="like-count"><%= @post.likes.count%></span>)</button>

<% else %>
<button type="button" class="btn btn-light" id="like"><i style="font-size:1em;" class="fas fa-moon" data-remote="true"></i> (<span id="like-count"><%= @post.likes.count%></span>)</button>
<%= link_to "좋아요", "/posts/#{@post.id}/like", data: {remote: true, method: "POST"}, class: "" %>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th width="80%"> 덧 글 </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="comment-list">
    <% @post.comments.each do |comment| %>
    <tr id="comment-<%= comment.id %>">
      <td><%=comment.user.email%></td>
      <td><%= comment.content %></td>
      <!-- <td><button type="button" class="btn btn-warning edit-comment" data-id="<%= comment.id %>"><i class="fas fa-cog"></i> 수정</button></td> -->
      <td><button type="button" class="btn btn-danger destroy-comment" data-id="<%= comment.id %>"><i class="fas fa-trash-alt"></i></button></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag("/posts/#{@post.id}/create_comment", method: "post", class: "form-inline mt-3 mb-3", multipart: true) do %>
  <div class="form-group col-10">
    <%= text_area_tag("content","" , style: "width: 100% !important;" ) %>
  </div>
  <div class="form-group col-2">
    <%= button_tag( "등록" , class: "btn btn-primary create-comment")  %>
  </div>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
